@charset "utf-8";
*{
    margin:0px;
}
#contain {
 height: auto;
 width: 1100px;
    height:800px;
 margin-right: auto;
 margin-left: auto;
    margin:0 auto;
}
#header {
    text-align: center;
    height: auto;
    width: 1100px;
    margin:10px auto;
    padding:0;
    border:0;
}
#wei{
    width:650px;
    text-align:center;
    float:left;
    margin-top:5px;
}
.logo {
            position: relative;
            flex: 0 0 15%;
            width: 15%;
            font-color:#000000 ;
            text-align:center;
            float:left;
        }		
	.logo img{width: 25px;
               height: 20px;
    }
    .logo:hover .qr-code{
        display: block;
    }
	 .qr-code {
            position: absolute;
            display: none;
            width: 150px;
            height: 150px;
        }
     .qr-code img{
         width:100%;
         height:100%;
     }

.search{
    text-align:center;
    height:50px;
    float:left;
}
.weibo{
    text-align:left;
    width:100px;
    float:left
}
.weibo a{
    color:#000;
    text-decoration:none
}
.login{
    text-align:center;
    width:80px;
    float:left;
    margin-top:12px;
}
.lun{
    margin-top:12px;
}
.lun a{
    color:#000;
    text-decoration:none
}
.catalog{
    background-repeat:no-repeat;
    font-size:20px;
    width:100%;
    height:30px;
    line-height:36px;
    margin:10px auto;
    padding:6px;
}
.catalog a:link {color:#000;text-decoration:none; }
.catalog a:visited {color:#000;text-decoration:none; }
.catalog a:hover {color:#000;text-decoration:none;}
.catalog a:active {color:#000;text-decoration:none;}
.cata{width:1000px; height:36px; margin:0 auto;}
.cata li{width:120px;text-align:center;float:left;}
.news-mo:hover .news{display: block;}
.news{display: none;}
.news1 a:hover{background-color: #acabb0;}
.cha-mo:hover .cha{display: block;}
.cha{display: none;}
.cha1 a:hover{background-color: #acabb0;}
.couplet-mo:hover .couplet{display: block;}
.couplet{display: none;}
.couplet1 a:hover{background-color: #acabb0;}
.poem-mo:hover .poem{display: block;}
.poem{display: none;}
.poem1 a:hover{background-color: #acabb0;}
.school-mo:hover .school{display: block;}
.school{display: none;}
.school1 a:hover{background-color: #acabb0;}
.league-mo:hover .league{display: block;}
.league{display: none;}
.league1 a:hover{background-color: #acabb0;}
.teen-mo:hover .teen{display: block;}
.teen{display: none;}
.teen1 a:hover{background-color: #acabb0;}